.player{
    
}

.panel-body{
    
}
/* 
#screenvideoplayer{
    background-color: yellow;
} */

/* #cameravideoplayer{
    background-color: blue;
} */

/* #preview{
    background-color: green;
} */

#camerarow{
    border-style: solid;
    margin-right: 1px;
    
}

#screenrow{
    border-style: solid;
    margin-bottom: 2px;
    margin-right: 1px;
}

#chatwindow{
    border-style: solid
}