.player{
    
}

.panel-body{
    
}
/* 
#screenvideoplayer{
    background-color: yellow;
} */

/* #cameravideoplayer{
    background-color: blue;
} */

/* #preview{
    background-color: green;
} */

#camerarow{
    border-style: solid;
}

#screenrow{
    border-style: solid;
}

#chatwindow{
    border-style: solid
}