.player{
    
}

.panel-body{
    
}
/* 
#screenvideoplayer{
    background-color: yellow;
} */

/* #cameravideoplayer{
    background-color: blue;
} */

/* #preview{
    background-color: green;
} */

/* #chatwindow{
    background-color: gray;
} */
